h1 {
    text-align: center;
    font-size: 40px;
    color:rgb(240, 240, 222);
    font-family: Georgia, serif;
    text-shadow: 2px 2px 5px #00000000;
  }  


li {
    font-family: Georgia, serif;
}
h3 {
    text-align: center;
    font-size: 22px;
    color: rgb(68, 62, 51);
}
h2 {
    text-align: center;
    font-size: 30
}
p {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    color: rgb(68, 62, 51);
}
div {
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 100px;
}




.navbar ul{
    list-style-type: none;
    background-color: rgb(68, 62, 51);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{


    background-color: rgb(128, 115, 104)
}
.navbar li{


    float: left;
}




#ex1 {
    background-image: url("https://live.staticflickr.com/7270/7509628640_e6d6f64aa7_b.jpg");
    background-size: cover;
    padding: 100px

}


#ex2 {
    background-image: url(https://live.staticflickr.com/4056/4717881405_0cb06d6e34_b.jpg);
    background-size: cover;
    padding: 70px
}
